<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo für Prozesse in ASP.NET</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #222;
        }

        * {
            box-sizing: border-box;
        }

        #container {
            display: flex;
            margin: auto;
            max-width: 70rem;
            flex-direction: column;
            border: 10px solid #FFF;
            border-radius: 10px;
            background-color: #DDD;
        }

        header {
            flex: 0 0 3rem;
            display: flex;
            background-color: linen;
            align-items: center;
            gap: 0.5rem;
            padding: 0rem 1rem;
        }

            header a {
                display: block;
                flex: 0 1 8rem;
                border: 1px solid black;
                border-radius: 5px;
                padding: 0.4rem;
                text-decoration: inherit;
                font-weight: bold;
            }

                header a:hover {
                    border: 3px solid black;
                }

        main {
            flex-grow: 1;
            padding: 0rem 1rem 1rem 1rem;
        }
    </style>
    @RenderSection("Head", required: false)
</head>
<body>
    <div id="container">
        <header>
            <a asp-page="/Index">Neuer Job</a>
            <a asp-page="/Jobs">Jobs</a>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>