@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center border border-info">
    <h1 class="display-4">Store Manager</h1>
    <h1 class="display-6 mt-3">Ein Übungsprojekt für ASP.NET Core Razor Pages.</h1>
    <p>Unterlagen: <a href="https://github.com/schletz/Pos4xhif/tree/master/Razor%20Pages" target="_blank">https://github.com/schletz/Pos4xhif/tree/master/Razor%20Pages</a></p>
</div>
