@page "{guid}"
@model ExamManager.Webapp.Pages.Students.EditModel

<form method="post">
    <input type="hidden" asp-for="StudentDto.Guid" />
    <label>
        Account:
        <input class="form-control" asp-for="StudentDto.Account" />
        <span class="error" asp-validation-for="StudentDto.Account"></span>
    </label>
    <label>
        Lastname:
        <input class="form-control" asp-for="StudentDto.Lastname" />
        <span class="error" asp-validation-for="StudentDto.Lastname"></span>
    </label>
    <label>
        Firstname:
        <input class="form-control" asp-for="StudentDto.Firstname" />
        <span class="error" asp-validation-for="StudentDto.Firstname"></span>
    </label>
    <label>
        Date of birth:
        <input type="date" class="form-control" asp-for="StudentDto.DateOfBirth" />
        <span class="error" asp-validation-for="StudentDto.DateOfBirth"></span>
    </label>
    <label>
        Email (optional):
        <input class="form-control" asp-for="StudentDto.Email" />
        <span class="error" asp-validation-for="StudentDto.Email"></span>
    </label>
    <label>
        School class:
        <select class="form-select" asp-for="StudentDto.SchoolClassGuid" asp-items="Model.Classes">
        </select>
        <span class="error" asp-validation-for="StudentDto.SchoolClassGuid"></span>
    </label>
    <label>
        Street:
        <input class="form-control" asp-for="StudentDto.Home.Street" />
        <span class="error" asp-validation-for="StudentDto.Home.Street"></span>
    </label>
    <label>
        ZIP:
        <input class="form-control" asp-for="StudentDto.Home.Zip" />
        <span class="error" asp-validation-for="StudentDto.Home.Zip"></span>
    </label>
    <label>
        City:
        <input class="form-control" asp-for="StudentDto.Home.City" />
    </label>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>


<div class="text-danger" asp-validation-summary="All"></div>