:root {
    --sidebar-background-color: hsl(0, 0%, 98%);
    --sidebar-separator-color: hsl(300, 25%, 70%);
    --sidebar-groupheader-color: hsl(300, 25%, 50%);
    --sidebar-item-color: hsl(0, 0%, 0%);
    --sidebar-item-background-color: hsl(0, 0%, 90%);
    --bs-font-sans-serif: "Segoe UI", sans-serif;
}

@keyframes changeopacity {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.not-authenticated {
    animation-duration: 1s;
    animation-name: changeopacity;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    flex: 0 0 70px;
    border-bottom: 1px solid var(--sidebar-separator-color);
    padding: 0rem 1rem;
}

    header a {
        text-decoration: none;
    }


.header-toggler {
    padding-right: 1rem;
    cursor: pointer;
}

.header-logo {
    padding-right: 1rem;
}

.header-content {
    text-align: center;
    flex-grow: 1;
}

.sidebar {
    background-color: var(--sidebar-background-color);
    padding-top: 1rem;
    padding-right: 1rem;
    flex: 0 0 200px;
    display: none;
    overflow-y: auto;
}

    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

.sidebar-item a {
    color: var(--sidebar-item-color);
    text-decoration: none;
}

.sidebar-item:hover,
.sidebar-active-item {
    background-color: var(--sidebar-item-background-color);
}

.sidebar-item-container {
    display: flex;
    align-items: baseline;
    padding: 0.5rem 1rem;
}

.sidebar-item-icon {
    font-size: 16px;
    flex: 0 0 30px;
}

ul[data-nav-group] {
    margin-top: 1rem;
    padding-left: 0rem;
    border-top: 1px solid var(--sidebar-separator-color);
}

    ul[data-nav-group]:first-child {
        border: none;
        margin-top: 0.5rem;
    }

    ul[data-nav-group]::before {
        content: attr(data-nav-group);
        text-transform: uppercase;
        color: var(--sidebar-groupheader-color);
        font-weight: bolder;
        line-height: 1.1em;
        display: block;
        margin-bottom: 0.5rem;
        padding-left: 1rem;
    }

main {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    overflow-y: hidden;
}

.main-content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    flex-grow: 1;
    overflow-y: auto;
}

footer {
    border-top: 1px solid var(--sidebar-separator-color);
    padding: 1rem 1rem;
    display: none;
}


@media print {
    .main-content {
        overflow-y: inherit;
    }

    header {
        display: none !important;
    }

    footer {
        display: none !important;
    }

    .sidebar {
        display: none !important;
    }
}

@media (min-width: 576px) {
    footer {
        display: block;
    }

    .sidebar {
        display: block;
    }
}
