@page
@model ExamManager.Webapp.Pages.Students.AddModel
@section Head
{
    <style>
        .error {
            color: red;
            font-size: 80%;
        }

        .input_fields {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: start;
            gap:1rem;
        }
        ..input_fields label {
            flex: 0 1 20rem;
        }
    </style>
}
<h3>Add a student</h3>
<form method="post">
    <div class="input_fields">
    <label>
        Account:
        <input class="form-control" asp-for="Student.Account" />
        <span class="error" asp-validation-for="Student.Account"></span>
    </label>
    <label>
        Lastname:
        <input class="form-control" asp-for="Student.Lastname" />
        <span class="error" asp-validation-for="Student.Lastname"></span>
    </label>
    <label>
        Firstname:
        <input class="form-control" asp-for="Student.Firstname" />
        <span class="error" asp-validation-for="Student.Firstname"></span>
    </label>
    <label>
        Date of birth:
        <input type="date" class="form-control" asp-for="Student.DateOfBirth" />
        <span class="error" asp-validation-for="Student.DateOfBirth"></span>
    </label>
    <label>
        Email (optional):
        <input class="form-control" asp-for="Student.Email" />
        <span class="error" asp-validation-for="Student.Email"></span>
    </label>
    <label>
        School class:
        <select class="form-select" asp-for="Student.SchoolClassName" asp-items="Model.Classes">
        </select>
        <span class="error" asp-validation-for="Student.SchoolClassName"></span>
    </label>
    <label>
        Street:
        <input class="form-control" asp-for="Student.Home.Street" />
        <span class="error" asp-validation-for="Student.Home.Street"></span>
    </label>
    <label>
        ZIP:
        <input class="form-control" asp-for="Student.Home.Zip" />
        <span class="error" asp-validation-for="Student.Home.Zip"></span>
    </label>
    <label>
        City:
        <input class="form-control" asp-for="Student.Home.City" />
    </label>
    </div>
    <button class="mt-3 btn btn-primary" type="submit">Submit</button>
</form>


<div class="text-danger" asp-validation-summary="ModelOnly"></div>