@page "{guid}"
@model StoreManager.Webapp.Pages.Stores.EditModel
@{
}

<form method="post">
    <input type="hidden" asp-for="Store.Guid" />

    <div class="row">
        <div class="col-12 col-sm-6">
            <label asp-for="Store.Name">Name</label>
            <input class="form-control" asp-for="Store.Name" />
            <span class="text-danger" asp-validation-for="Store.Name"></span>
        </div>
        <div class="col-12 col-sm-6">
            <label asp-for="Store.CloseDate">Name</label>
            <input type="date" class="form-control" asp-for="Store.CloseDate" />
            <span class="text-danger" asp-validation-for="Store.CloseDate"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label asp-for="Store.Url">Url</label>
            <input class="form-control" asp-for="Store.Url" />
            <span class="text-danger" asp-validation-for="Store.Url"></span>

        </div>
    </div>
    <div class="mt-3 text-danger" asp-validation-summary=All></div>
    <button class="btn-primary btn" type="submit">Send</button>
</form>